# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/
bin/
lib/
include/
pyvenv.cfg
.venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
installed-files.txt
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
pytest_cache/
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Pyenv
.python-version

# dotenv
.env
.envrc
.DS_Store

# C++ compiled binaries & object files
bin/
*.o
*.obj
*.exe
*.dll
*.so

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*.swn
.*.swp

